.fsize{
    font-size: 15px;
}
.height{
    height: 30px;
    text-decoration: none;
}
.tsize{
    font-size: 11px;
}
.cheight{
    height: 80px;
}
.bcolor{
    border-bottom: 2px solid blue;
}
.op{
    text-decoration: none;
    color: black;
}